
.container{
    width:100vw;
    height: 100vh;
    display:grid;
    gap:30px;
  background-color:#124e78;
  grid-template-areas:'heading heading heading heading'
                      'sidebar reviews ratings analysis'
                      'sidebar reviews ratings analysis'
                      'sidebar chart chart chart';
                      grid-template-columns: 20% 20% 20% 20%;
                      grid-template-rows: 10% 20% ;
                    justify-content: center;
                   
}

#header{
    grid-area: heading;
    text-align: center;
    color:white;
  
}

#reviews{
    grid-area: reviews;
    background-color: #1C2541;
    color:white;
    text-align: center;
}
#ratings{
    grid-area: ratings;
    background-color: #1C2541;
    color:green;
    text-align: center;


}
#r1{
    color:white;
}
#count{
    color:red;
}
#analysis{
    grid-area: analysis;
    background-color: #1C2541;
    color:white;
    text-align: center;


}
#vistors{
    text-align: center;
    grid-area: chart;
 background-size: contain;
 background-color: #1C2541;
 color:white;


}
#numsize{
    font-size: 40px;
}
#sidebar{
    grid-area: sidebar;
    padding-left: 100px;
 background-color: #9ba8d03c;
 color:white;
 

}